In [6]:
import pandas as pd 
import matplotlib as plt

In [9]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Users/tigran/opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /Users/tigran/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [25]:
micro_data = pd.read_excel('/Users/tigran/Projects/microfinance_market/data/Микрофинансовые показатели.xlsx', engine='openpyxl', header=0)
micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')

/var/folders/sy/xqrmw1m17pg7h55m5gctnpqm0000gn/T/ipykernel_69953/1000339902.py:2: UserWarning: Parsing '31.03.2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')
/var/folders/sy/xqrmw1m17pg7h55m5gctnpqm0000gn/T/ipykernel_69953/1000339902.py:2: UserWarning: Parsing '30.06.2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')
/var/folders/sy/xqrmw1m17pg7h55m5gctnpqm0000gn/T/ipykernel_69953/1000339902.py:2: UserWarning: Parsing '30.09.2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')
/var/folders/sy/xqrmw1m17pg7h55m5gctnpqm0000gn/T/ipykernel_69953/1000339902.py:2: UserWarning: Parsing '31.12.2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')
/var/folders/sy/xqrmw1m17pg7h55m5gctnpqm0000gn/T/ipykernel_69953/1000339902.py:2: UserWarning: Parsing '31.03.2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')
/var/folders/sy/xqrmw1m17pg7h55m5gctnpqm0000gn/T/ipykernel_69953/1000339902.py:2: UserWarning: Parsing '30.06.2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  micro_data['Показатели деятельности микрофинансовых институтов']=pd.to_datetime(micro_data['Показатели деятельности микрофинансовых институтов'], errors='coerce')

In [28]:
micro_data.head()

,Показатели деятельности микрофинансовых институтов,"Количество микрофинансовых организаций (МФО), ед.","Изменение количества микрофинансовых организаций (за квартал), ед.","Количество кредитных потребительских кооперативов, ед.","Изменение количества кредитных потребительских кооперативов (за квартал), ед.","Количество ломбардов, ед.","Изменение количества ломбардов (за квартал), ед.","Количество договоров микрозайма (всего) за за отчетный квартал), ед.","Количество договоров микрозайма (заключенные индивидуальными предпринимателями), ед.","Количество договоров микрозайма (заключенные юридическими лицам), ед.",...,"Доля по договорам займа и кредитным договорам, заключенным с юридическими лицами, %","Доля по договорам займа, заключенным с физическими лицами и индивидуальными предпринимателями, %","Квартальная динамика задолженности по основному долгу по средствам, привлеченным для осуществления микрофинансовой деятельности, %","Квартальная динамика задолженности по договорам займа и кредитным договорам, заключенным с юридическими лицами, %","Квартальная динамика задолженности по договорам займа, заключенным с физическими лицами и индивидуальными предпринимателями, %","Количество лиц, предоставивших микрофинансовой организации денежные средства (за отчетный период), ед.","Количество физических лиц, в том числе индивидуальных предпринимателей, на конец отчетного периода, предоставивших микрофинансовой компании денежные средства по действующим договорам займа, ед.","Сумма денежных средств, предоставленных микрофинансовой организации (за отчетный квартал), всего, млн. руб.","Сумма, предоставленная юридическими лицам по договорам займа и кредитным договорам, млн. руб.","Сумма, предоставлнная физическим лицам и индивидуальными предпринимателями по договорам займа, млн. руб."
0,2019-03-31,1999,-3,2175,-110,4354,-263,8355092.0,3989.0,3293.0,...,73.834962,26.165038,1.561826,0.500595,4.681076,1441.0,3481,11643.049,7789.127,3853.922
1,2019-06-30,1960,-39,2114,-61,4079,-275,8523578.0,4955.0,4867.0,...,75.219626,24.780374,8.476280,10.510590,2.735670,2204.0,3204,21683.025,16960.896,4722.129
2,2019-09-30,1898,-62,2063,-51,3826,-253,8060182.0,4122.0,3686.0,...,75.629305,24.370695,0.998791,1.548874,-0.670960,2691.0,3028,13274.377,8905.665,4368.712
3,2019-12-31,1774,-124,2058,-5,3599,-227,8877616.0,6266.0,4513.0,...,75.575827,24.424173,-4.851292,-4.918573,-4.642501,3219.0,2925,13155.530,9542.307,3613.223
4,2020-03-31,1728,-46,2046,-12,3455,-144,8232232.0,3422.0,2484.0,...,76.466582,23.533418,-0.397602,0.776337,-4.030126,1288.0,2753,11027.314,7433.829,3593.485

In [34]:
gdp = pd.read_excel('/Users/tigran/Projects/microfinance_market/data/ВВП в ценах 2021.xlsx', engine='openpyxl', header=0)
gdp['Дата']=pd.to_datetime(gdp['Дата'], errors='coerce')
gdp.dtypes

Дата                                datetime64[ns]
ВВП ( ценах 2021 г., млрд. руб.)           float64
dtype: object

In [32]:
gdp

         Дата  ВВП ( ценах 2021 г., млрд. руб.)
0  2019-03-31                      29214.152127
1  2019-06-30                      31724.114866
2  2019-09-30                      34172.464636
3  2019-12-31                      36484.249988
4  2020-03-31                      29656.556682
5  2020-06-30                      29402.852728
6  2020-09-30                      33034.592588
7  2020-12-31                      36008.903471
8  2021-03-31                      29819.358323
9  2021-06-30                      32705.467697
10 2021-09-30                      34674.504657
11 2021-12-31                      38095.643905
12 2022-03-31                      30719.376666
13 2022-06-30                      31247.195933
14 2022-09-30                      33447.769580
15 2022-12-31                      37080.416742

In [43]:
unempl = pd.read_excel('/Users/tigran/Projects/microfinance_market/data/Безработица.xlsx', engine='openpyxl', header=0)
unempl['Дата']=pd.to_datetime(unempl['Дата'], errors='coerce')
unempl['Уровень безработицы населения в возрасте 15-72 лет'] = unempl['Уровень безработицы населения в возрасте 15-72 лет'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
# unempl['Уровень безработицы населения в возрасте 15-72 лет'] = unempl['Уровень безработицы населения в возрасте 15-72 лет'].astype('float')
unempl.dtypes

Дата                                                      datetime64[ns]
Уровень безработицы населения в возрасте 15-72 лет               float64
Численность безработных в возрасте 15-72 лет (тыс.чел)           float64
dtype: object

In [54]:
cons_conf = pd.read_excel('/Users/tigran/Projects/microfinance_market/data/Индекс_потребительской_уверенности_итог.xlsx', engine='openpyxl', header=0)
cons_conf['Дата']=pd.to_datetime(cons_conf['Дата'], errors='coerce')
cons_conf['Индекс уверенности'] = cons_conf['Индекс уверенности'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
cons_conf['Индекс уверенности (в воозрасте до 30 лет)'] = cons_conf['Индекс уверенности (в воозрасте до 30 лет)'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
cons_conf['Индекс уверенности (в воозрасте 30-50 лет) '] = cons_conf['Индекс уверенности (в воозрасте 30-50 лет)'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
cons_conf['Индекс уверенности (в воозрасте от 50 лет)'] = cons_conf['Индекс уверенности (в воозрасте от 50 лет)'].str.replace(',', '.').str.rstrip('%').astype(float) / 100

cons_conf=cons_conf.drop('Индекс уверенности (в воозрасте 30-50 лет)', axis=1)
cons_conf=cons_conf.reindex(columns = ['Дата','Индекс уверенности', 'Индекс уверенности (в воозрасте до 30 лет)','Индекс уверенности (в воозрасте 30-50 лет)', 'Индекс уверенности (в воозрасте от 50 лет)'])
cons_conf.dtypes

Дата                                          datetime64[ns]
Индекс уверенности                                   float64
Индекс уверенности (в воозрасте до 30 лет)           float64
Индекс уверенности (в воозрасте 30-50 лет)           float64
Индекс уверенности (в воозрасте от 50 лет)           float64
dtype: object

In [55]:
cons_conf

,Дата,Индекс уверенности,Индекс уверенности (в воозрасте до 30 лет),Индекс уверенности (в воозрасте 30-50 лет),Индекс уверенности (в воозрасте от 50 лет)
0,2019-03-31,-0.16,-0.11,NaN,-0.19
1,2019-06-30,-0.15,-0.10,NaN,-0.16
2,2019-09-30,-0.13,-0.07,NaN,-0.15
3,2019-12-31,-0.13,-0.06,NaN,-0.17
4,2020-03-31,-0.11,-0.03,NaN,-0.13
5,2020-06-30,-0.30,-0.26,NaN,-0.30
6,2020-09-30,-0.22,-0.19,NaN,-0.24
7,2020-12-31,-0.26,-0.22,NaN,-0.28
8,2021-03-31,-0.21,-0.14,NaN,-0.23
9,2021-06-30,-0.18,-0.16,NaN,-0.21
10,2021-09-30,-0.19,-0.11,NaN,-0.22
11,2021-12-31,-0.23,-0.20,NaN,-0.25
12,2022-03-31,-0.21,-0.17,NaN,-0.24
13,2022-06-30,-0.31,-0.32,NaN,-0.32
14,2022-09-30,-0.22,-0.18,NaN,-0.24
15,2022-12-31,-0.23,-0.23,NaN,-0.23

In [61]:
cons_exep = pd.read_excel('/Users/tigran/Projects/microfinance_market/data/Индекст_потребительских_ожиданий_итог.xlsx', engine='openpyxl', header=0)
cons_exep['благоприятность условий для сбережений'] = cons_exep['благоприятность условий для сбережений'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
cons_exep['индекс текущего личного материального положения'] = cons_exep['индекс текущего личного материального положения'] .str.replace(',', '.').str.rstrip('%').astype(float) / 100
cons_exep['произошедшие изменения личного материального положения за год'] = cons_exep['произошедшие изменения личного материального положения за год'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
cons_exep['благоприятность условий для крупных покупок'] = cons_exep['благоприятность условий для крупных покупок'].str.replace(',', '.').str.rstrip('%').astype(float) / 100

cons_exep.dtypes

Дата                                                             datetime64[ns]
индекс текущего личного материального положения                         float64
произошедшие изменения личного материального положения за год           float64
благоприятность условий для крупных покупок                             float64
благоприятность условий для сбережений                                  float64
dtype: object

In [62]:
cons_exep

,Дата,индекс текущего личного материального положения,произошедшие изменения личного материального положения за год,благоприятность условий для крупных покупок,благоприятность условий для сбережений
0,2019-03-31,-0.12,-0.14,-0.29,-0.37
1,2019-06-30,-0.09,-0.12,-0.26,-0.36
2,2019-09-30,-0.07,-0.10,-0.25,-0.35
3,2019-12-31,-0.07,-0.10,-0.24,-0.34
4,2020-03-31,-0.09,-0.08,-0.24,-0.34
5,2020-06-30,-0.14,-0.22,-0.44,-0.45
6,2020-09-30,-0.10,-0.17,-0.31,-0.39
7,2020-12-31,-0.11,-0.20,-0.34,-0.42
8,2021-03-31,-0.10,-0.18,-0.31,-0.39
9,2021-06-30,-0.10,-0.16,-0.27,-0.37
10,2021-09-30,-0.07,-0.15,-0.30,-0.36
11,2021-12-31,-0.10,-0.18,-0.33,-0.39
12,2022-03-31,-0.11,-0.16,-0.32,-0.38
13,2022-06-30,-0.11,-0.24,-0.46,-0.44
14,2022-09-30,-0.07,-0.17,-0.35,-0.36
15,2022-12-31,-0.07,-0.14,-0.32,-0.35

In [65]:
incomes= pd.read_excel('/Users/tigran/Projects/microfinance_market/data/Среднедушевые денежные доходы.xlsx', engine='openpyxl', header=0)
incomes

   Unnamed: 0  Среднедушевые денежные доходы населения ( руб.)
0  2019-03-31                                          30292.0
1  2019-06-30                                          34672.8
2  2019-09-30                                          35261.9
3  2019-12-31                                          41780.4
4  2020-03-31                                          32072.1
5  2020-06-30                                          33476.2
6  2020-09-30                                          35412.5
7  2020-12-31                                          43712.9
8  2021-03-31                                          32981.0
9  2021-06-30                                          38645.0
10 2021-09-30                                          41079.0
11 2021-12-31                                          48173.0
12 2022-03-31                                          36343.0
13 2022-06-30                                          44168.0
14 2022-09-30                                          44689.0
15 2022-12-31                                          54222.0

In [75]:
inflation = pd.read_excel('/Users/tigran/Projects/microfinance_market/data/Инфляция и ключ. ставка.xlsx', engine='openpyxl', header=0)
inflation['Ср.знач ключевая ставки за квартал, % годовых'] = inflation['Ср.знач ключевая ставки за квартал, % годовых'].str.replace(',', '.').str.replace('%', '').str.replace('&', '').astype(float) / 100
inflation['Ср. знач. инфляция за квартал, % г/г'] = inflation['Ср. знач. инфляция за квартал, % г/г'].str.replace(',', '.').str.rstrip('%').astype(float) / 100
inflation

,Дата,"Ср.знач ключевая ставки за квартал, % годовых","Ср. знач. инфляция за квартал, % г/г"
0,2019-03-31,0.0775,0.0517
1,2019-06-30,0.0767,0.0500
2,2019-09-30,0.0717,0.0430
3,2019-12-31,0.0642,0.0343
4,2020-03-31,0.0608,0.0240
5,2020-06-30,0.0517,0.0310
6,2020-09-30,0.0425,0.0357
7,2020-12-31,0.0425,0.0443
8,2021-03-31,0.0433,0.0557
9,2021-06-30,0.0517,0.0600
10,2021-09-30,0.0658,0.0686
11,2021-12-31,0.0783,0.0831
12,2022-03-31,0.1617,0.1152
13,2022-06-30,0.1250,0.1694
14,2022-09-30,0.0783,0.1436
15,2022-12-31,0.0750,0.1218